.current-board-work__wrapper {
  margin-top: 20px;
  border-top: 3px solid var(--mainColor);
}

.current-board-work {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.current-board-work__more {
  color: var(--mainTextColor);
}