<div class="menu-container">
  <app-board-management></app-board-management>

  <div class="current-board-work">
    <app-url-input></app-url-input>
    
    <div class="tagging-api-button-container">
      <button
        class="tagging-api-button"
        mat-stroked-button color="basic"
        (click)="runTaggingApi()"
        [disabled]="!isCheckedImages"
      >RUN TAGGING API</button>
    </div>
    
    <div class="delete-images-button-container">
      <button
        class="delete-images-button"
        mat-stroked-button color="warn"
        (click)="deleteImages()"
        [disabled]="!isCheckedImages"
      >
        <mat-icon>delete</mat-icon> DELETE
      </button>
    </div>
  </div>
</div>
