.menu-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 66%;
}

.current-board-work {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tagging-api-button-container {
  margin-top: 17px;
}

.delete-images-button-container {
  margin-top: 17px;
}

.tagging-api-button {
  border-radius: 41px;
}

.delete-images-button {
  border-radius: 41px;
}