.header-container {
  display: flex;
  margin: auto;
  margin-top: 55px;
  width: 66%;
  flex-direction: column;
}

.text-container {
  width: 100%;
  white-space: nowrap;
  text-transform: none;
  box-sizing: border-box;
  display: flex;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #232323;
}

.header-line{
  width: 100%;
}
